<h1>Merry Christmas!</h1>

<p>Dear <%= @user.name %>,</p>

<p>
  Thank you for still believing in Christmas magic. Sorry I couldn't deliver on 
  the German Shepherd puppy and kitty this year - your parents would have really 
  flipped out! They'll still probably be a little freaked out with the iPhone, 
  but as long as you continue to be a good boy, I'm sure they will be okay with 
  it. I hope you enjoy it! :)
</p>

<p>Keep on being a good boy and I will see you next Christmas!</p>

<p>Santa</p>

